version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ep-lucky-forest-ai6mpcvk-pooler.c-4.us-east-1.aws.neon.tech:5432/neondb?sslmode=require
      - SPRING_DATASOURCE_USERNAME=neondb_owner
      - SPRING_DATASOURCE_PASSWORD=npg_GXu9YOvL3wrA
    networks:
      - spring-network

volumes:
  postgres-data:

networks:
  spring-network:
    driver: bridge